<html>
	<%- include("../partials/head.ejs") %>
	<body>
		
		<div class="container" >

            <div class="row">
                <div class="col-1" ></div>

                
                <div class="col-10">

					<h1>319 Donations</h1>
					<%- include("../partials/nav.ejs") %>

					<% if (donation != undefined) { %>
						<h3><%= donation.name%></h3>
						<p>Email: <%= donation.email%></p>
						<p>Charity: <%= donation.charity%></p>
						<br/>
						<p>Donation: <b>$<%= donation.amount%></b> </p>
						<br/>

						<% } %>
					
					<%- include("../partials/footer.ejs") %>

                </div>

                <div class="col-1"></div>

            </div>

        </div>
	
	</body>
</html>